<launch>
  <!-- dual tracker node -->
  <node pkg="dual_people_leg_tracker" type="dual_tracker" required="true" name="dual_tracker" args=" $(find dual_people_leg_tracker)/trained_classificators/forestClassificator.yaml" output="screen"/>

  <!-- relay scans -->
  <node pkg="topic_tools" type="relay" name="relay_left" args="/scan_left /scan" />
  
</launch>

