<launch>
  <!-- dual tracker node -->
  <node pkg="cob_dual_leg_tracker" type="dual_tracker" required="true" name="dual_tracker" args=" $(find cob_dual_leg_tracker)/trained_classificators/forestClassificator.yaml" output="screen"/>

  <!-- relay scans -->
  <node pkg="topic_tools" type="relay" name="relay_front" args="/base_laser_front/scan /scan" />
  <node pkg="topic_tools" type="relay" name="relay_rear" args="/base_laser_right/scan /scan" />
  <node pkg="topic_tools" type="relay" name="relay_back" args="/base_laser_left/scan /scan" />
  
</launch>

