<?xml version="1.0"?>

<launch>
  <arg name="using_nodelets" default="false"/>

  <!-- coordinator node for the detection pipeline -->
  <!--rosparam command="load" ns="cob_people_detection/coordinator" file="$(find cob_people_detection)/ros/launch/coordinator_params.yaml"/-->
  <node name="coordinator" pkg="cob_people_detection" type="coordinator_node" output="screen">
    <param if="$(arg using_nodelets)" name="namespace_gateway" type="str" value="/cam3d_nodelet_manager"/>
    <param unless="$(arg using_nodelets)" name="namespace_gateway" type="str" value="sensor_message_gateway/sensor_message_gateway"/>
    <remap from="~detection_array" to="detection_tracker/face_position_array"/>
  </node>

</launch>
