<?xml version="1.0"?>

<launch>
  <!-- face detection node (detects faces in color image and publishes their positions) -->
  <node name="face_detector" pkg="cob_people_detection" type="face_detector_node" output="screen">
    <rosparam command="load" file="$(find cob_people_detection)/ros/launch/face_detector_params.yaml"/>
    <param name="data_directory" type="string" value="$(find cob_people_detection)/common/files/"/>
    <remap from="~head_positions" to="head_detector/head_positions"/>
  </node>
</launch>
