<?xml version="1.0"?>

<launch>
  <!-- parameters -->
  <arg name="camera_namespace" default="camera"/>    <!-- top level namespace of the openni camera driver, default for openni driver is camera, for Care-O-bot default is cam3d -->
  <arg name="colorimage_in_topic" default="/$(arg camera_namespace)/rgb/image_raw"/>    <!-- very different between openni driver versions, might also be /$(arg camera_namespace)/rgb/image_color -->
  <arg name="pointcloud_rgb_in_topic" default="/$(arg camera_namespace)/depth_registered/points"/>    <!-- very different between openni driver versions, might also be /$(arg camera_namespace)/rgb/points or /$(arg camera_namespace)/depth/points_xyzrgb or /$(arg camera_namespace)/depth_registered/points -->

  <arg name="using_nodelets" default="false"/>    <!-- for using people detection with the faster nodelet mode, provide argument true -->
  <arg name="nodelet_manager" default="/$(arg camera_namespace)/$(arg camera_namespace)_nodelet_manager"/>    <!-- name of the nodelet manager started by the openni driver, default for the openni driver is camera_nodelet_manager, 
for Care-O-bot default is cam3d_nodelet_manager -->
  <arg name="start_manager" default="false"/>     <!-- if you do not like to use the nodelet manager provided by the openni driver, specify your own by setting this parameter to true and providing the name of your manager with argument nodelet_manager-->

  <!-- launch file args toggling whether to start parts of the pipeline or not -->
  <arg name="launch_head_detector" default="true"/>
  <arg name="launch_face_detector" default="true"/>
  <arg name="launch_face_recognizer" default="true"/>
  <arg name="launch_detection_tracker" default="true"/>
  <arg name="launch_face_capture" default="true"/>
  <arg name="launch_coordinator" default="true"/>
  <arg name="display_results_with_image_view" default="true"/>		<!-- set to false if you do not like to display the camera image with names attached to detected faces within an image_view window --> 

  <!-- nodelet or non-nodelet specific launch files -->
  <group unless="$(arg using_nodelets)">
    <!-- launch files for usage without nodelets -->
    <include file="$(find cob_people_detection)/ros/launch/sensor_message_gateway.launch">
      <arg name="colorimage_in_topic" value="$(arg colorimage_in_topic)"/>
      <arg name="pointcloud_rgb_in_topic" value="$(arg pointcloud_rgb_in_topic)"/>
    </include>
  </group>
  <group if="$(arg using_nodelets)">
    <!-- special launch files for usage with nodelets -->
    <node if="$(arg start_manager)" pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)"  args="manager" output="screen"/>
    <include file="$(find cob_people_detection)/ros/launch/sensor_message_gateway_nodelet.launch">
      <arg name="nodelet_namespace" value="$(arg camera_namespace)"/>
      <arg name="nodelet_manager" value="$(arg nodelet_manager)"/>
      <arg name="colorimage_in_topic" value="$(arg colorimage_in_topic)"/>
      <arg name="pointcloud_rgb_in_topic" value="$(arg pointcloud_rgb_in_topic)"/>
    </include>
  </group>

  <!-- remaining launch files -->
  <param name="data_storage_directory" type="string" value="$(env HOME)/.ros/cob_people_detection/files/"/>

  <include if="$(arg launch_head_detector)" file="$(find cob_people_detection)/ros/launch/head_detector.launch"/>
  <include if="$(arg launch_face_detector)" file="$(find cob_people_detection)/ros/launch/face_detector.launch"/>
  <include if="$(arg launch_face_recognizer)" file="$(find cob_people_detection)/ros/launch/face_recognizer.launch"/>
  <include if="$(arg launch_detection_tracker)" file="$(find cob_people_detection)/ros/launch/detection_tracker.launch"/>
  <include if="$(arg display_results_with_image_view)" file="$(find cob_people_detection)/ros/launch/people_detection_display.launch"/>
  <include if="$(arg launch_face_capture)" file="$(find cob_people_detection)/ros/launch/face_capture.launch"/>
  <include if="$(arg launch_coordinator)" file="$(find cob_people_detection)/ros/launch/coordinator.launch">
    <arg name="using_nodelets" value="$(arg using_nodelets)"/>
  </include>
</launch>
