<?xml version="1.0"?>

<launch>
  <arg name="nodelet_manager" default="cam3d_nodelet_manager"/>
  <arg name="colorimage_in_topic" default="/cam3d/rgb/image_color"/>
  <arg name="pointcloud_rgb_in_topic" default="/cam3d/rgb/points"/>

  <!-- sensor message gateway node (forwards sensor messages in a desired rate) -->
  <rosparam command="load" ns="/cob_people_detection/sensor_message_gateway" file="$(find cob_people_detection)/ros/launch/sensor_message_gateway_params.yaml"/>
  <node pkg="nodelet" type="nodelet" name="SensorMessageGatewayNodelet" ns="/cob_people_detection/sensor_message_gateway" args="load cob_people_detection/SensorMessageGatewayNodelet /$(arg nodelet_manager)" output="screen">
    <!--remap from="pointcloud_rgb_in" to="/cam3d/depth_registered/points"/-->
    <!--remap from="pointcloud_rgb_in" to="/cam3d/depth/points_xyzrgb"/-->
    <!--remap from="pointcloud_rgb_in" to="/cam3d/rgb/points"/-->
    <remap from="pointcloud_rgb_in" to="$(arg pointcloud_rgb_in_topic)"/>
    <remap from="pointcloud_rgb_out" to="/cob_people_detection/sensor_message_gateway/pointcloud_rgb_out"/>
    <!--remap from="colorimage_in" to="/cam3d/rgb/image"/-->
    <!--remap from="colorimage_in" to="/cam3d/rgb/image_color"/-->
    <remap from="colorimage_in" to="$(arg colorimage_in_topic)"/>
    <remap from="colorimage_out" to="/cob_people_detection/sensor_message_gateway/colorimage_out"/>
  </node>                 

</launch>
